.global-conspicuous {
    color: #EA6343;
}

.global-desalination {
    color: #999;
    font-size: 12px;
}

.global-small-font-size {
    font-size: 12px;
}

.global-middle-font-size {
    font-size: 14px;
}

.global-font-size-20px {
    font-size: 20px;
}

.global-font-size-26px {
    font-size: 26px !important;
}

.global-font-weight-bold {
    font-weight: bold;
}

.global-height-100 {
    height: 100%;
}

.global-width-100 {
    width: 100%;
}

.global-width-80 {
    width: 80%;
}

.global-width-60 {
    width: 60%;
}

.global-width-40 {
    width: 40%;
}

.global-width-20 {
    width: 20%;
}

.global-width-40px {
    width: 40px;
}

.global-width-100px {
    width: 100px;
}

.global-width-120px {
    width: 120px;
}

.global-margin-bottom-10px {
    margin-bottom: 10px;
}

.global-float-left {
    float: left;
}

.global-float-right {
    float: right;
}

.global-text-align-center {
    text-align: center;
}

.global-opacity-85 {
    opacity: 0.85 !important;
}

.global-doNotWrap-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*其他*/
.global-left-td-content {
    width: 50%;
    padding-right: 5px;
    padding-bottom: 20px;
}

.global-right-td-content {
    width: 50%;
    padding-left: 5px;
    padding-bottom: 20px;
}

.global-square-img-div {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;
}

.global-square-img {
    width: 100%;
    height: 100%;
    position: absolute;
}
